#main {
    padding-bottom: 80px;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;

    .main-nav {
        padding: 30px 0;
        font-size: 13px;

        a {
            color: #000;

            &.path {
                color: #999;
            }
        }
    }

    .no-goods{
        padding: 100px 0 200px 0;
        text-align: center;
        display: none;

        img{
            width: 153px;
            height: 132px;
        }

        p{
            margin: 24px 0;
            color: #333;

            &.p2{
                display: none;
            }
        }

        a{
            width: 97px;
            height: 43px;
            line-height: 41px;
            font-size: 18px;
            display: inline-block;
            border-radius: 2px;
            text-align: center;
            color: #666;
            border: 1px solid #666;
            box-sizing: border-box;
            padding: 0 6px;
            transition: all .5s cubic-bezier(0,1,.5,1);

            &.a2{
                display: none;
                margin: 0 auto;
            }

            &:hover{
                color: #fff;
                background-color: #845f3f;
                border-color: #845f3f;
            }
        }
    }

    .select-btn {
        display: inline-block;
        width: 18px;
        height: 18px;
        box-sizing: content-box;
        margin-left: 7px;
        margin-right: 15px;
        vertical-align: middle;
        margin-top: -3px;
        background: url('../img/icons.png') no-repeat;
        background-position: 0 -490px;

        &.select{
            background-position: 0 -402px;
        }

    }

    .main-title {
        height: 42px;
        line-height: 40px;
        background-color: #fafafa;
        color: #999;
        margin-bottom: 3px;
        user-select:none;

        span {
            display: inline-block;

            &.all {
                width: 125px;
            }

            &.product {
                width: 320px;
            }

            &.price {
                width: 205px;
            }

            &.num {
                width: 205px;
            }

            &.total {
                width: 125px;
            }
        }
    }

    .main-content {
        padding-bottom: 100px;

        .shop-info {
            padding-top: 47px;
            padding-bottom: 17px;
            // vertical-align: middle;
            border-bottom: 1px solid #e7e7e7;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: flex-start;
        }

        .good-items {
            border-bottom: 1px solid #e7e7e7;

            .goodselect {
                padding-top: 64px;
            }

            .goodimg {
                height: 142px;
                position: relative;
                width: 120px;
                cursor: pointer;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .goodname {
                box-sizing: border-box;
                width: 330px;
                padding: 27px 90px 27px 5px;
                height: 142px;
                line-height: 88px;
                cursor: pointer;
            }

            .goodprice {
                width: 215px;
                height: 72px;
                padding: 35px 0;
                line-height: 72px;
                text-align: left;

                span::before{
                    content: '￥ ';
                }
            }

            .goodnum {
                width: 205px;
                padding-top: 56px;

                .num-edit {
                    margin-left: -55px;
                    display: inline-block;

                    div {
                        display: inline-block;
                        // vertical-align: middle;
                        text-align: center;
                        box-sizing: border-box;
                        height: 32px;
                        border: 1px solid #b3b3b3;
                        overflow: hidden;

                        .num-add,
                        .num-sub {
                            float: left;
                            width: 30px;
                            height: 30px;
                            line-height: 28px;
                            font-size: 24px;
                            color: #845f3f;
                        }

                        .num-sub {
                            font-size: 28px;
                        }

                        .text {
                            float: left;
                            width: 70px;
                            height: 30px;
                            line-height: 30px;
                            border-left: 1px solid #b3b3b3;
                            border-right: 1px solid #b3b3b3;
                        }
                    }
                }
            }

            .goodtotal {
                padding: 35px 0;
                height: 72px;
                line-height: 72px;
                width: 130px;
                text-align: left;
                color: #c00000;

                span::before{
                    content: '￥ ';
                }
            }

            .gooddel {
                padding-top: 66px;
                padding-left: 10px;

                .del {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    background: url('../img/icons.png') no-repeat;
                    background-position: 0 -119px;
                }
            }
        }

    }

    .main-foot {
        position: relative;
        background-color: #fafafa;
        font-size: 18px;
        height: 80px;
        user-select:none;

        .ico {
            padding: 25px;
            height: 30px;
            line-height: 30px;
            float: left;
        }

        .totol-price {
            height: 55px;
            padding-top: 25px;
            position: absolute;
            right: 230px;
            bottom: 0;
            font-size: 20px;
            color: #333;

            .totol {
                color: #c00000;
            }

            .totol::before {
                content: '￥';
            }
        }

        .checkout {
            float: right;
            width: 200px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: #a9010d;
            color: #fff;
            font-size: 20px;
        }
    }

}