#main {
    padding-top: 60px;
    padding-bottom: 100px;
    border-top: 1px solid #e7e7e7;
    min-height: 285px;

    .top {
        margin-bottom: 67px;

        .imgtab {
            margin-right: 46px;
            width: 465px;
            height: 433px;
            float: left;

            .imgbox {
                width: 365px;
                height: 432px;
                background-color: #f4f4f4;
                border: 1px solid #ececec;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                .slider {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(0, 0, 0, .3);
                    position: absolute;
                    left: 0;
                    top: 0;
                    // display: none;
                }

                .bigimg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 470px;
                    top: -1px;
                    border: 1px solid #845f3f;
                    overflow: hidden;
                    display: none;

                    img {
                        width: 200%;
                        height: 200%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .imglist {
                width: 85px;
                height: 100%;
                position: relative;
                overflow: hidden;

                ul {
                    position: absolute;

                    li {
                        width: 83px;
                        height: 98px;
                        margin-bottom: 11px;
                        border: 1px solid #ececec;
                        background-color: #f4f4f4;

                        &.active {
                            border-color: #845f3f;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .arrow-up {
                position: absolute;
                top: 0;
                cursor: pointer;

                .bgicon {
                    display: block;
                    width: 85px;
                    height: 16px;
                    background: url('../img/icons.png') no-repeat;
                    background-position: 0 -275px;
                }
            }

            .arrow-down {
                position: absolute;
                bottom: 0;
                cursor: pointer;

                .bgicon {
                    display: block;
                    width: 85px;
                    height: 16px;
                    background: url('../img/icons.png') no-repeat;
                    background-position: 0 -175px;
                }
            }
        }

        .goodinfo {
            width: 561px;

            .goodname {
                margin-bottom: 4px;
                line-height: 26px;
                font-size: 20px;
            }

            .summary {
                width: 84%;
                line-height: 18px;
                font-size: 12px;
                color: #999;
            }

            .card {
                margin-bottom: 26px;
                margin-top: 18px;
                padding: 10px;
                background-color: #f9f9f9;

                .title {
                    margin-right: 10px;
                    width: 48px;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 12px;
                }

                .price-line {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    height: 37px;
                    vertical-align: bottom;
                    line-height: 40px;
                    font-size: 30px;

                    .price {
                        color: #c00000;
                        line-height: 30px;
                        overflow: hidden;

                        &::before {
                            content: '￥';
                            margin-right: 3px;
                            font-size: 14px;
                            vertical-align: 0;
                        }

                        &::after {
                            content: '起';
                            margin-left: 3px;
                            font-size: 14px;
                            vertical-align: 0;
                        }

                    }
                }

                .service-line {
                    margin-bottom: 12px;
                    line-height: 24px;
                    font-size: 24px;

                    li {
                        float: left;
                        margin-right: 13px;

                        .icon-right {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            vertical-align: middle;
                            background: url('../img/icons.png') no-repeat;
                            background-position: 0 -215px;
                        }

                        span {
                            font-size: 16px;
                            margin-left: 8px;
                            line-height: 16px;
                            vertical-align: middle;
                        }
                    }
                }

            }

            h5.title {
                margin-right: 10px;
                width: 48px;
                font-weight: 400;
                line-height: 32px;
                font-size: 12px;
            }

            .color-line {
                margin-bottom: 14px;
                padding: 0 10px;

                li {
                    float: left;
                    box-sizing: border-box;
                    margin-right: 14px;
                    padding: 4px 20px;
                    color: #845f3f;
                    border: 1px solid #d6d6d6;
                    line-height: 22px;
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 14px;
                    transition: all .5s cubic-bezier(0, 1, .5, 1);
                    cursor: pointer;

                    &.active {
                        border: 1px solid #845f3f;
                    }
                }
            }

            .count-line {
                margin-bottom: 40px;
                padding: 0 10px;

                .count-btn,
                .count-btn-active {
                    float: left;
                    width: 34px;
                    height: 30px;
                    border: 1px solid #d6d6d6;
                    font-size: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #d6d6d6;
                    box-sizing: content-box;
                    cursor: pointer;

                    .bgicon {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url('../img/icons.png') no-repeat;
                        background-position: 0 -1390px;
                    }
                }

                .count-input {
                    float: left;
                    width: 60px;
                    height: 32px;
                    border: 1px solid #d6d6d6;
                    border-left: 0;
                    border-right: 0;
                    text-align: center;
                    font-weight: 700;
                    font-size: 14px;
                    color: #333;
                    outline: none;
                }
            }

            .btn-line {
                height: 52px;
                text-align: center;

                .addcart {
                    cursor: pointer;
                    margin-right: 15px;
                    min-width: 197px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    transition: all .5s cubic-bezier(0, 1, .5, 1);
                    border-radius: 2px;
                    display: inline-block;
                    color: #fff;
                    border: 1px solid #845f3f;
                    background-color: #845f3f;

                    &:hover {
                        background-color: #d1bfa6;
                        border: 1px solid #d1bfa6;
                    }
                }

                .favor-btn {
                    width: 50px;
                    height: 50px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    line-height: 12px;
                    text-align: center;
                    font-size: 12px;
                    color: #999;
                    margin-right: 15px;
                    transition: all .5s cubic-bezier(0, 1, .5, 1);
                    cursor: pointer;

                    &:hover {
                        background-color: #845f3f;
                        color: #fff;
                    }

                    &:hover .bgicon {
                        background-position: 0 -1696px;
                    }

                    .bgicon {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url('../img/icons.png') no-repeat;
                        background-position: 0 -880px;
                    }
                }

                .call-btn {
                    width: 50px;
                    height: 50px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    line-height: 12px;
                    text-align: center;
                    font-size: 12px;
                    color: #999;
                    transition: all .5s cubic-bezier(0, 1, .5, 1);
                    cursor: pointer;

                    &:hover {
                        background-color: #845f3f;
                        color: #fff;
                    }

                    &:hover .bgicon {
                        background-position: 0 -1526px;
                    }

                    .bgicon {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url('../img/icons.png') no-repeat;
                        background-position: 0 -1560px;
                    }
                }
            }
        }
    }

    .content {
        // width: 774px;

        .nav-title {
            background-color: #e7e7e7;
            width: 1080px;

            .info-nav {
                height: 42px;

                li {
                    float: left;
                    width: 128px;
                    height: 42px;
                    text-align: center;
                    font-size: 13px;
                    box-sizing: content-box;

                    &:hover {
                        color: #845f3f;
                        cursor: pointer;
                    }

                    &:last-child span {
                        border-right: 0 none;
                    }

                    span {
                        display: inline-block;
                        width: 128px;
                        height: 16.8px;
                        margin-top: 13px;
                        border-right: 1px solid #ccc;
                    }
                }
            }

            .nav-arrbox {
                height: 2px;
                position: relative;

                .nav-arr {
                    width: 128px;
                    height: 2px;
                    background-color: #845f3f;
                    transition: left .2s linear;
                    position: absolute;
                    left: 0;
                }
            }
        }

        .product {

            // width: 774px;
            padding-top: 30px;

            &>div {
                min-height: 557px;
            }

            .intro {

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}