// top

// header



// footer


// 侧栏


// banner
#banner {
    height: 358px;

    .banner {
        height: 358px;
        background: orangered;
        // position: relative;

        .nav {
            height: 338px;
            background-color: #845f3f;
            padding: 10px 0;
            width: 221px;
            position: relative;

            ul li {
                width: 161px;
                padding: 0 30px;
                height: 37px;
                line-height: 37px;
                color: #fff;
                text-align: left;
                overflow: hidden;
                // position: relative;

                span {
                    font-size: 12px;
                    line-height: 37px;
                }

                a {
                    color: #fff;

                    &:hover {
                        color: #e4af82;
                    }
                }

                &:hover {
                    background-color: #684b34;
                    color: #f1ede9;

                    .nav2 {
                        display: block;
                        top: 0;
                        left: 221px;
                    }
                }
            }

            .nav2 {
                width: 798px;
                height: 317px;
                padding: 20px 30px;
                background: #fff;
                border: 1px solid #eee;
                overflow-y: auto;
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 99;
                clear: both;

                p.title {
                    font-size: 14px;
                    color: #333;
                }

                .group {
                    margin-bottom: 15px;
                    font-size: 14px;
                    color: #666;

                    ul .item {
                        float: left;
                        width: 180px;
                        height: 40px;
                        margin-bottom: 30px;
                        margin-right: 15px;
                        line-height: 40px;
                        padding: 0;
                        cursor: pointer;

                        &:hover {
                            color: #684b34;
                            background: #fff;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }

                        span {
                            color: #666;
                            font-size: 14px;

                            &:hover {
                                color: #845f3f;
                            }
                        }
                    }
                }
            }
        }

        .swiper {
            width: 859px;
            height: 358px;
            position: relative;
            overflow: hidden;

            ol {
                position: absolute;
                bottom: 10px;
                width: 100%;
                text-align: center;
                z-index: 10;

                span {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    border: 1px solid #cecece;
                    color: transparent;
                    margin: 0 6px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.active {
                        box-shadow: 0 0 0 4px #ccc;
                        background: #a7936e;
                    }
                }
            }

            .scr_arrow {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                position: absolute;
                background-image: url('../img/icons.png');
                z-index: 10;
                top: 50%;
                margin-top: -22px;
            }

            .scr_arrow_l {
                background-position: 0 -1924px;
                left: 10px;

                &:hover {
                    background-position: 0 -1798px;
                }
            }

            .scr_arrow_r {
                background-position: 0 -1840px;
                right: 10px;

                &:hover {
                    background-position: 0 -1882px;
                }
            }

            ul {
                width: 5154px;
                position: absolute;
                top: 0px;

                li {
                    float: left;

                    img {
                        width: 859px;
                        height: 358px;
                    }
                }
            }
        }
    }
}

// wrap
#wrap {
    height: 159px;
    padding-top: 30px;

    .wrap {
        height: 148px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E7E7E7;

        li {
            float: left;
            width: 130px;
            height: 143px;
            margin-right: 107px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            div {
                padding: 25px 25px 15px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            p {
                font-size: 14px;
                margin-top: 4px;
                width: 130px;
                text-align: center;
                color: #555666;
            }
        }
    }
}

// h2 title
h2.title {
    color: #333;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;

    span {
        margin-left: 12px;
        font-size: 14px;
        color: #999;
    }

    .more {
        position: absolute;
        right: 0;
        top: 6px;
        width: 58px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #999;
        background: url('../img/icons.png');
        background-position: 30 -1118px;
        cursor: pointer;

        &:hover {
            color: #845f3f;
            background-position: 30 -1084px;
        }
    }
}

/* recommend */
#recommend {
    height: 286px;
    margin-top: 35px;

    .recommend {
        height: 286px;

        .content {
            height: 230px;
            position: relative;
            overflow: hidden;

            &:hover .scr_arrow {
                display: block;
            }

            #recomlist {
                width: 2160px;
                position: absolute;
                overflow: hidden;
                left: 0;

                li {
                    float: left;
                    margin-left: 5px;
                    width: 266px;
                    height: 230px;
                    text-align: center;
                    background: #f3f0e9;

                    &:first-child {
                        margin-left: 0;
                    }

                    .text {
                        text-align: left;
                        padding: 23px 0 0 15px;

                        h3 {
                            color: #333;
                            font-size: 20px;
                            line-height: 24px;
                            height: 24px;

                            p {
                                color: #999;
                                font-size: 16px;
                                line-height: 20px;
                                height: 20px;
                                margin-top: 8px;
                            }
                        }
                    }

                    img {
                        width: 175px;
                        height: 117px;
                        margin-top: 32px;
                    }
                }
            }

            .scr_arrow {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                position: absolute;
                background-image: url('../img/icons.png');
                z-index: 10;
                top: 50%;
                margin-top: -22px;
                display: none;
            }

            .scr_arrow_l {
                background-position: 0 -1924px;
                left: 10px;

                &:hover {
                    background-position: 0 -1798px;
                }
            }

            .scr_arrow_r {
                background-position: 0 -1840px;
                right: 10px;

                &:hover {
                    background-position: 0 -1882px;
                }
            }
        }
    }
}

/* crowdfounding */
#crowdfounding {
    margin-top: 35px;
    height: 302px;

    .crowdfounding li {
        float: left;
        width: 266px;
        height: 245px;
        margin-left: 5px;
        position: relative;

        &:first-child {
            width: 537px;
            margin-left: 0;

            .inner {
                background: #F9F3E9;
            }

            img {
                width: 215px;
                height: 215px;
            }
        }

        .inner {
            height: 210px;
            background: #F8F8F8;
        }

        .text {
            padding: 23px 0 0 15px;

            h3 {
                color: #333;
                margin-top: 0;
                font-size: 20px;
                line-height: 24px;
                height: 24px;
            }

            p {
                color: #999;
                font-size: 16px;
                line-height: 20px;
                height: 20px;
                margin-top: 8px;
            }

            .price {
                font-size: 24px;
                line-height: 28px;
                height: 28px;
                overflow: hidden;
                color: #a92112;
                margin-top: 12px;

                span {
                    font-size: 15px;
                    vertical-align: top;
                    margin-right: 7px;
                }
            }
        }

        img {
            position: absolute;
            width: 130px;
            height: 130px;
            right: 15px;
            bottom: 45px;
        }

        .line {
            height: 3px;
            background: url('../img/bar.jpg') no-repeat;
        }

        .info {
            height: 25px;
            padding-top: 10px;

            .fl {
                color: #999;
                font-size: 15px;
                margin-left: 20px;
            }

            .num {
                margin-right: 6px;
                color: #a92112;
                font-size: 18px;
            }

            .tag {
                padding: 0 6px;
                color: #fff;
                font-size: 13px;
                line-height: 18px;
                background: #F62700;
            }

            .fr {
                color: #a92112;
                font-size: 18px;
                margin-right: 18px;
            }

            .m-num-flag {
                font-size: 11px;
            }
        }
    }
}

#trap {
    height: 410px;
    margin-top: 40px;

    .title img {
        width: 18px;
        height: 18px;
    }

    .title .timestr {
        margin-left: 3px;
        font-size: 18px;
        color: #a92112;
    }

    .title .time {
        position: absolute;
        left: 190px;
        top: -2px;

        span:nth-child(odd) {
            display: inline-block;
            width: 23px;
            height: 23px;
            line-height: 23px;
            margin: 0 3px;
            color: #fff;
            text-align: center;
            font-size: 15px;
            background: #b04337;
        }

        span:nth-child(even) {
            display: inline-block;
            margin: 0 -6px;
            font-size: 15px;
            color: #b04337;
        }
    }

    .trap li {
        float: left;
        width: 266px;
        height: 354px;
        margin-right: 5px;
        transition: all 0.2s;

        &:hover {
            box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .trap .imgbox {
        width: 266px;
        height: 266px;
        padding: 63px;
        background: #f8f8f8;
        position: relative;
        box-sizing: border-box;

        img {
            width: 140px;
            height: 140px;

        }

        .tag {
            width: 58px;
            height: 25px;
            background: red;
            border-radius: 0 15px 15px 0;
            line-height: 25px;
            text-align: center;
            color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    .trap .textbox {
        height: 60px;
        padding: 13px 0 15px;
        text-align: center;
        background: #faf6ef;

        h3 {
            color: #333;
            font-size: 20px;
            line-height: 24px;
            height: 24px;
        }

        p {
            height: 26px;
            margin-top: 11px;

            .price {
                font-size: 22px;
                line-height: 26px;
                color: #a92112;

                &::before {
                    content: '￥';
                    font-size: 15px;
                }

                &::after {
                    content: '元';
                    font-size: 12px;
                }
            }

            .price2 {
                font-size: 14px;
                line-height: 26px;
                text-decoration: line-through;

                &::before {
                    content: '￥';
                    font-size: 9px;
                }
            }
        }
    }
}

// new hot
#new,
#hot {
    height: 432px;
    margin-top: 60px;
    padding-bottom: 28px;

    li {
        float: left;
        width: 266px;
        height: 375px;
        margin-right: 5px;
        transition: all .4s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }

        .imgbox {
            width: 266px;
            height: 266px;
            position: relative;

            img {
                width: 266px;
                height: 266px;
            }

            .tag {
                position: absolute;
                padding: 3px;
                left: 8px;
                top: 8px;
                width: 16px;
                line-height: 18px;
                font-size: 15px;
                text-align: center;
                word-wrap: break-word;
                border-radius: 4px;
                border: 1px solid #9f8052;
                background-color: transparent;
                color: #9f8052;
            }
        }
    }

    .textbox {
        height: 109px;
        text-align: center;
        padding: 13px 0 10px;
        box-sizing: border-box;

        h3 {
            color: #333;
            font-size: 19px;
            line-height: 23px;
            height: 23px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            color: #666;
            font-size: 14px;
            line-height: 18px;
            height: 18px;
            margin-top: 8px;
        }

        .price {
            font-size: 22px;
            line-height: 26px;
            color: #a92112;
            height: 26px;
            margin-top: 11px;

            &::before {
                content: '￥';
                font-size: 15px;
            }
        }
    }
}

// exclusive
#exclusive {
    margin-top: 50px;

    .exclusive li {
        float: left;
        width: 264px;
        height: 348px;
        text-align: center;
        border: 1px solid #e7e7e7;
        margin: 0 0 5px 5px;
        transition: all .4s;

        &:hover {
            box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }

        &:nth-child(4n+1) {
            margin-left: 0px;
        }
    }

    .exclusive .imgbox {
        padding: 45px 70px 28px;
        box-sizing: border-box;

        img {
            width: 125px;
            height: 125px;
        }
    }

    .exclusive .desc {
        color: #845f3f;
        font-size: 16px;
        line-height: 20px;
        height: 20px;
    }

    .exclusive .textbox {
        height: 112px;
        padding: 13px 0 10px;
        margin-top: 18px;
        text-align: center;
        background: #f8f8f8;
        box-sizing: border-box;

        h3 {
            color: #333;
            font-size: 19px;
            line-height: 23px;
            height: 23px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 10px;
        }

        .tag {
            height: 20px;
            padding: 2px 0;

            span {
                display: inline-block;
                height: 20px;
                margin-left: 8px;
                padding: 0 6px;
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                border-radius: 2px;
                vertical-align: bottom;
                background: #D96B6C;
            }
        }
    }

    .price {
        font-size: 22px;
        line-height: 26px;
        color: #a92112;
        margin-top: 11px;

        &::before {
            content: '￥';
            font-size: 15px;
        }

        &::after {
            content: '起';
            font-size: 12px;
        }
    }
}