#list {
    background: #f2f2f2;
    padding-bottom: 80px;
    overflow: hidden;

    .list-nav {
        padding: 30px 0;
        font-size: 13px;

        a {
            color: #000;

            &.path {
                color: #999;
            }
        }
    }

    .search-tit {
        padding-top: 30px;
        margin-bottom: 10px;
        font-size: 14px;
        display: none;
    }

    .group {
        h2 {
            padding-bottom: 13px;
            font-weight: 400;
            font-size: 24px;
            color: #333;
        }

        li {
            float: left;
            width: 266px;
            padding-bottom: 10px;
            margin-left: 5px;
            margin-bottom: 5px;
            text-align: center;
            background: #fff;
            transition: all .4s;

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            &:hover {
                box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
                transform: translate3d(0, -2px, 0);
            }

            img {
                width: 195px;
                height: 195px;
            }

            h3 {
                height: 26px;
                line-height: 26px;
                margin-top: 10px;
                color: #333;
                font-size: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            p {
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                color: #999;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            span {
                line-height: 26px;
                color: #a92112;

                &::before {
                    content: '￥';
                    font-size: 12px;
                    color: #a92112;
                }
            }
        }
    }
}